.searchContainer {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.searchIcon {
  position: absolute;
  left: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-text-secondary);
  width: 20px;
  height: 20px;
}

.searchInput {
  width: 100%;
  padding: 1rem 1.25rem 1rem 3.5rem;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: 99px;
  color: var(--color-text-primary);
  font-size: 1.1em;
  font-family: var(--font-secondary);
  transition: all 0.2s ease;
}

.searchInput:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px rgba(243, 206, 2, 0.15);
}

.clearButton {
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--color-text-secondary);
  cursor: pointer;
  padding: 0;
}
.clearButton:hover {
  color: var(--color-primary);
}